/* Video introduce about the shop */
.video-section-container {
    display: flex;
    padding: 120px 24px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 112px;
    margin-top: 135px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(https://toigingiuvedep.vn/wp-content/uploads/2021/05/hinh-nen-gau-bong-dep-nhat.jpg);
    background-position: 100%;
    background-size: 100% 500px;
    background-size: cover;
    background-repeat: repeat, no-repeat;
    background-attachment: scroll, fixed;
    color: rgb(255, 255, 255);
}
.video-section-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    text-align: center;
    .about-shop-title {
        line-height: 24px;
        font-size: 14px;
    }
    .watch-our-story {
        font-family: 'Varela Round', sans-serif;
        font-size: 35px;
        line-height: 40px;
        font-weight: 400;
    }
    .video-button {
        display: flex;
        width: 64px;
        height: 64px;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        background-color: #FF9191;
        transition: all 0.3s 0s ease-in-out;
        img {
            width: 24px;
            height: 24px;
        }
    }
    .video-button:hover {
        transition: all 0.3s 0s ease-in-out;
        transform: scale(1.1);
        cursor: pointer;
    }
}
/* End video introduce about the shop */