/* Product section */
.product-section-container {
    display: flex;
    justify-content: center;
    margin: 0px 0px 80px 0px;
    padding-top: 120px;
}
.product-section-content {
    display: flex;
    justify-content: center;
}
.all-toys {
    width: 1175px;
    .section-title {
        font-family: 'Varela Round', sans-serif;
        font-size: 28px;
        line-height: 36px;
        font-weight: 400;
    }
    .categories-toys {
        display: flex;
        align-items: center;
        gap: 18px;
        a {
            text-decoration: none;
            color: #111;
            font-size: 13px;
            text-decoration: none;
        }
        .categories-toys-all-toys {
            background-color: #a5c926;
            color: #fff;
            outline: 0;
            padding: 6px 18px;
            border-radius: 16px;
            line-height: 20px;
        }
    }
    .toys-line-header {
        width: 100%;
        height: 2px;
        background-color: #e5e5e5;
        .toys-line-header-color {
            width: 136px;
            height: 2px;
            background-color: #a5c926;
        }
    }
}
.all-toys-header {
    display: flex;
    flex-direction: column;
    row-gap: 32px;
}
.all-toys-header-content {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.product-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-top: 50px;
    gap: 30px;
    .product-card {
        .product-title {
            font-family: 'Varela Round', sans-serif;
            font-size: 15px;
            line-height: 20px;
            font-weight: 400;
        }
        .product-cost {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 22px;
            padding: 2px 12px;
            border-radius: 16px;
            background-color: #a5c926;
            color: #fff;
            font-size: 12px;
        }
        .product-card-content {
            display: flex;
            flex-direction: column;
            gap: 12px;
            align-items: center;
            border-radius: 16px;
            background-color: #fff;
            box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.15);
            padding: 24px 24px 32px;
            transition: all 0.3s 0s ease-out;
            cursor: pointer;
        }
        .product-card-content:hover {
            box-shadow: 0 8px 20px -3px rgba(0, 0, 0, 0.1);
            transform: scale(1.05);
            transition: all 0.3s 0s ease-out;
        }
        .product-photo {
            width: 182px;
            height: 182px;
            padding: 20px;
            object-fit: cover;
        }
    }
}
.product-card-link {
    text-decoration: none;
}
/* End product section */