.delivery-container {
    display: flex;
    justify-content: center;
}
.delivery-content {
    width: 1175px;
}
.delivery-infor-content {
    display: grid;
    grid-template-columns: 1.2fr 0.5fr;
    background-color: white;
    padding: 80px;
    margin: 58px 0px 120px 0px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.15);
    border-radius: 16px;
    .dilivery-infor {
        padding-right: 8.33%;
        .title {
            margin-bottom: 16px;
            font-family: 'Varela Round', sans-serif;
            font-size: 28px;
            line-height: 36px;
            font-weight: 400;
        }
        .first-title {
            font-size: 32px;
            line-height: 40px;
        }
        .text {
            margin-bottom: 28px;
            font-size: 14px;
            line-height: 24px;
            color: #111;
        }
        .ul-li-text {
            margin-bottom: 16px;
            padding-left: 40px;
            font-size: 14px;
            line-height: 24px;
        }
    }
}
.call-to-contact-us {
    display: flex;
    justify-self: center;
    text-align: center;
    .call-to-contact-us-content {
        width: 270px;
    }
    .padding-contact-us-content {
        padding: 40px;
        border: 2px solid #e5e5e5;
        border-radius: 16px;
        .question-text {
            margin-bottom: 16px;
            font-family: 'Varela Round', sans-serif;
            font-size: 17px;
            line-height: 24px;
            font-weight: 400;
        }
        .btn-call-to-contact-us {
            padding: 10px 24px;
            border-radius: 24px;
            background-color: #a5c926;
            color: #fff;
            font-size: 14px;
            line-height: 24px;
            font-weight: 600;
            text-align: center;
            display: inline-block;
            line-height: inherit;
            text-decoration: none;
            cursor: pointer;
            transition: all 0.3s 0s ease-in-out;
        }
        .btn-call-to-contact-us:hover {
            box-shadow: 0 8px 8px -4px rgba(165, 201, 38, 0.5);
            transform: scale(1.05);
            transition: all 0.3s 0s ease-in-out;
        }
        
    }
}
/* End delivery section */