/* Footer */
.footer-container {
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: #a5c926;
    padding: 48px 0px 32px 0px;
}
.footer-content {
    width: 1175px;
    display: flex;
    flex-direction: column;
    gap: 48px;
}
.top-footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .footer-logo {
        font-family: 'Varela Round', sans-serif;
        color: #fff;
        font-size: 22px;
        font-weight: 400;
    }
    .footer-nav-title {
        display: flex;
        gap: 20px;
        font-size: 14px;
        a {
            text-decoration: none;
            color: #fff;
        }
    }
    .footer-contact-icons {
        display: flex;;
        align-items: center;
        font-size: 16px;
        color: #fff;
        .footer-icon {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 35px;
            height: 35px;
            border-radius: 50%;
            transition: background-color 0.3s 0s ease-in-out;
        }
        .footer-icon:hover {
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #98B923;
            width: 35px;
            height: 35px;
            transition: background-color 0.3s 0s ease-in-out;
        }
    }
}
.bottom-footer-content {
    display: flex;
    flex-direction: column;
    gap: 34px;
    hr {
        border: 1px solid #BCD75C;
    }
    .bottom-footer-tag-name {
        display: flex;
        justify-content: space-between;
        font-size: 11px;
        color: #fff;
        .right-bottom-footer-content {
            display: flex;
            gap: 10px;
        }
    }
}
/* End footer */