/* Breadcrumb navigation */
.breadcrumb-nav {
    display: flex;
    justify-content: center;
    padding-top: 150px;
}
.breadcrumb-nav-content {
    width: 1175px;
    .breadcrumb-nav-blog {
        display: flex;
        align-items: center;
        gap: 10px;
        padding: 15px 28px;
        border: 2px solid #e5e5e5;
        font-size: 12px;
        color: #C9C9C9;
        border-radius: 24px;
        a {
            text-decoration: none;
            color: #999;
        }
    }
}
/* End breadcrumb navigation */

/* ---------------- MOBILE: max-width 600px ---------------- */
@media (max-width: 600px) {
  .breadcrumb-nav-content {
    width: 95vw;
  }
}

/* ---------------- TABLET: 601px–1024px ---------------- */
@media (min-width: 601px) and (max-width: 1024px) {
    .breadcrumb-nav-content {
        width: 95vw;
    }
}